# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
# Keep pubspec.lock for reproducible app builds.

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env*
!.env.example

# Avoid committing generated Javascript files:
*.dart.js
*.info.json      # Produced by the --dump-info flag.
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
.DS_Store
functions/node_modules/
android/local.properties
